USE [master]
GO
/****** Object:  Database [kutuphane]    Script Date: 17.04.2022 17:10:22 ******/
CREATE DATABASE [kutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\kutuphane.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\kutuphane_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kutuphane].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [kutuphane]
GO
/****** Object:  UserDefinedFunction [dbo].[topla]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[topla](@sayi int, @sayi2 int)
returns int
as
begin
   return @sayi+@sayi2
end
GO
/****** Object:  Table [dbo].[gecici]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[gecici](
	[kitapno] [int] IDENTITY(1,1) NOT NULL,
	[isbnno] [char](20) NULL,
	[kitapadi] [varchar](100) NULL,
	[yazarno] [int] NULL,
	[turno] [int] NULL,
	[sayfasayisi] [int] NULL,
	[puan] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[gurur]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gurur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ograd] [nvarchar](50) NULL,
	[ogrsoyad] [nvarchar](50) NULL,
	[sinif] [nvarchar](50) NULL,
 CONSTRAINT [PK_gurur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[islem]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islem](
	[islemno] [int] IDENTITY(1,1) NOT NULL,
	[ogrno] [int] NULL,
	[kitapno] [int] NULL,
	[atarih] [datetime] NULL,
	[vtarih] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kitap]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kitap](
	[kitapno] [int] IDENTITY(1,1) NOT NULL,
	[isbnno] [char](20) NULL,
	[kitapadi] [varchar](100) NULL,
	[yazarno] [int] NULL,
	[turno] [int] NULL,
	[sayfasayisi] [int] NULL,
	[puan] [int] NULL,
 CONSTRAINT [PK_kitap] PRIMARY KEY CLUSTERED 
(
	[kitapno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci](
	[ogrno] [int] IDENTITY(1,1) NOT NULL,
	[ograd] [nchar](10) NULL,
	[ogrsoyad] [nchar](20) NULL,
	[cinsiyet] [nchar](1) NULL,
	[dtarih] [datetime] NULL,
	[sinif] [nchar](4) NULL,
	[puan] [bigint] NULL,
 CONSTRAINT [PK_ogrenci] PRIMARY KEY CLUSTERED 
(
	[ogrno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[olmaz]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olmaz](
	[yazarno] [int] IDENTITY(1,1) NOT NULL,
	[yazarad] [nchar](20) NULL,
	[yazarsoyad] [nchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[silenen_yazar]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[silenen_yazar](
	[yazar_id] [int] IDENTITY(1,1) NOT NULL,
	[yazarad] [nvarchar](50) NULL,
	[yazarsoyad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[yazar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stok]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stok](
	[stok] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tur]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tur](
	[turno] [int] IDENTITY(1,1) NOT NULL,
	[turadi] [nchar](30) NULL,
 CONSTRAINT [PK_tur] PRIMARY KEY CLUSTERED 
(
	[turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yazar]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yazar](
	[yazarno] [int] IDENTITY(1,1) NOT NULL,
	[yazarad] [nchar](20) NULL,
	[yazarsoyad] [nchar](20) NULL,
 CONSTRAINT [PK_yazar] PRIMARY KEY CLUSTERED 
(
	[yazarno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yazarlar]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yazarlar](
	[yazarsay] [int] NULL,
	[durum] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yazarsil]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yazarsil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[yazarad] [nvarchar](50) NULL,
	[yazarsoyad] [nvarchar](50) NULL,
 CONSTRAINT [PK_yazarsil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[yeni]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[yeni](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](50) NULL,
	[fiyat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[yenitur]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yenitur](
	[turno] [int] IDENTITY(1,1) NOT NULL,
	[turadi] [nchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[kızogrenci]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[kızogrenci]
as
select * from ogrenci where cinsiyet='K'
GO
/****** Object:  View [dbo].[kitaplarim]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[kitaplarim]
as
select * from kitap
GO
/****** Object:  View [dbo].[ogrencilerim]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ogrencilerim]
as
select * from ogrenci
GO
/****** Object:  View [dbo].[sanal_sonuc]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[sanal_sonuc] as
select * from ogrenci

GO
SET IDENTITY_INSERT [dbo].[gecici] ON 

INSERT [dbo].[gecici] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (1, N'253-335-3934-16-4   ', N'Abdülhamidin Kurtlarla Dansı', 26, 3, 368, 22)
INSERT [dbo].[gecici] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (2, N'295-115-3846-25-2   ', N'Ablamı Nereye Kaçırdılar', 6, 1, 220, 27)
INSERT [dbo].[gecici] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (3, N'127-255-2542-27-4   ', N'Anayurttan Anadoluya', 18, 6, 311, 19)
SET IDENTITY_INSERT [dbo].[gecici] OFF
SET IDENTITY_INSERT [dbo].[islem] ON 

INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (1, 73, 10, CAST(N'2006-01-01 00:00:00.000' AS DateTime), CAST(N'2006-01-17 00:00:00.000' AS DateTime))
INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (2, 6, 17, CAST(N'2006-01-02 00:00:00.000' AS DateTime), CAST(N'2006-01-07 00:00:00.000' AS DateTime))
INSERT [dbo].[islem] ([islemno], [ogrno], [kitapno], [atarih], [vtarih]) VALUES (3, 59, 11, CAST(N'2006-01-03 00:00:00.000' AS DateTime), CAST(N'2006-01-06 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[islem] OFF
SET IDENTITY_INSERT [dbo].[kitap] ON 

INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (1, N'253-335-3934-16-4   ', N'Abdülhamidin Kurtlarla Dansı', 26, 3, 368, 27)
INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (2, N'295-115-3846-25-2   ', N'Ablamı Nereye Kaçırdılar', 6, 1, 220, 37)
INSERT [dbo].[kitap] ([kitapno], [isbnno], [kitapadi], [yazarno], [turno], [sayfasayisi], [puan]) VALUES (3, N'127-255-2542-27-4   ', N'Anayurttan Anadoluya', 18, 6, 311, 19)
SET IDENTITY_INSERT [dbo].[kitap] OFF
SET IDENTITY_INSERT [dbo].[ogrenci] ON 

INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (1, N'Hülya     ', N'Yiğit               ', N'K', CAST(N'1990-04-08 00:00:00.000' AS DateTime), N'10A ', 45)
INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (2, N'Niyazi    ', N'Sevinç              ', N'E', CAST(N'1990-11-11 00:00:00.000' AS DateTime), N'9B  ', 0)
INSERT [dbo].[ogrenci] ([ogrno], [ograd], [ogrsoyad], [cinsiyet], [dtarih], [sinif], [puan]) VALUES (3, N'İsmail    ', N'Sevinç              ', N'E', CAST(N'1990-04-17 00:00:00.000' AS DateTime), N'10B ', 0)
GO
SET IDENTITY_INSERT [dbo].[ogrenci] OFF
SET IDENTITY_INSERT [dbo].[olmaz] ON 

INSERT [dbo].[olmaz] ([yazarno], [yazarad], [yazarsoyad]) VALUES (1, N'Leyla               ', N'Çelik               ')
INSERT [dbo].[olmaz] ([yazarno], [yazarad], [yazarsoyad]) VALUES (2, N'Zeynep              ', N'Emin                ')
INSERT [dbo].[olmaz] ([yazarno], [yazarad], [yazarsoyad]) VALUES (3, N'Ali                 ', N'Yazar               ')
SET IDENTITY_INSERT [dbo].[olmaz] OFF
SET IDENTITY_INSERT [dbo].[silenen_yazar] ON 

INSERT [dbo].[silenen_yazar] ([yazar_id], [yazarad], [yazarsoyad]) VALUES (1, N'Murat', N'Çıplak')
SET IDENTITY_INSERT [dbo].[silenen_yazar] OFF
INSERT [dbo].[stok] ([stok]) VALUES (2)
SET IDENTITY_INSERT [dbo].[tur] ON 

INSERT [dbo].[tur] ([turno], [turadi]) VALUES (1, N'Dram                          ')
INSERT [dbo].[tur] ([turno], [turadi]) VALUES (2, N'Komedi                        ')
INSERT [dbo].[tur] ([turno], [turadi]) VALUES (3, N'Roman                         ')
SET IDENTITY_INSERT [dbo].[tur] OFF
SET IDENTITY_INSERT [dbo].[yazar] ON 

INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (1, N'Leyla               ', N'Çelik               ')
INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (2, N'Zeynep              ', N'Emin                ')
INSERT [dbo].[yazar] ([yazarno], [yazarad], [yazarsoyad]) VALUES (3, N'Ali                 ', N'Yazar               ')
SET IDENTITY_INSERT [dbo].[yazar] OFF
INSERT [dbo].[yazarlar] ([yazarsay], [durum]) VALUES (24, NULL)
SET IDENTITY_INSERT [dbo].[yazarsil] ON 

INSERT [dbo].[yazarsil] ([Id], [yazarad], [yazarsoyad]) VALUES (1, N'Kubra               ', N'Yıldırım            ')
INSERT [dbo].[yazarsil] ([Id], [yazarad], [yazarsoyad]) VALUES (2, N'Kubra               ', N'Yıldırım            ')
INSERT [dbo].[yazarsil] ([Id], [yazarad], [yazarsoyad]) VALUES (3, N'      Yalçın        ', N'Yılmaz              ')
SET IDENTITY_INSERT [dbo].[yazarsil] OFF
SET IDENTITY_INSERT [dbo].[yenitur] ON 

INSERT [dbo].[yenitur] ([turno], [turadi]) VALUES (1, N'Dram                          ')
INSERT [dbo].[yenitur] ([turno], [turadi]) VALUES (2, N'Komedi                        ')
INSERT [dbo].[yenitur] ([turno], [turadi]) VALUES (3, N'Roman                         ')
SET IDENTITY_INSERT [dbo].[yenitur] OFF
ALTER TABLE [dbo].[islem]  WITH CHECK ADD  CONSTRAINT [FK_islem_kitap1] FOREIGN KEY([kitapno])
REFERENCES [dbo].[kitap] ([kitapno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[islem] CHECK CONSTRAINT [FK_islem_kitap1]
GO
ALTER TABLE [dbo].[islem]  WITH CHECK ADD  CONSTRAINT [FK_islem_ogrenci1] FOREIGN KEY([ogrno])
REFERENCES [dbo].[ogrenci] ([ogrno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[islem] CHECK CONSTRAINT [FK_islem_ogrenci1]
GO
ALTER TABLE [dbo].[kitap]  WITH CHECK ADD  CONSTRAINT [FK_kitap_tur] FOREIGN KEY([turno])
REFERENCES [dbo].[tur] ([turno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kitap] CHECK CONSTRAINT [FK_kitap_tur]
GO
ALTER TABLE [dbo].[kitap]  WITH CHECK ADD  CONSTRAINT [FK_kitap_yazar] FOREIGN KEY([yazarno])
REFERENCES [dbo].[yazar] ([yazarno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kitap] CHECK CONSTRAINT [FK_kitap_yazar]
GO
/****** Object:  StoredProcedure [dbo].[ogrenciliste]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ogrenciliste]
as
Select * from ogrenci
GO
/****** Object:  StoredProcedure [dbo].[ogrencisec]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ogrencisec]
@numara int
as
select * from ogrenci where ogrno=@numara
GO
/****** Object:  StoredProcedure [dbo].[sinifbazli]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sinifbazli]
@cins nvarchar(50), @sinif nvarchar(50)
as
select * from ogrenci where cinsiyet=@cins and sinif=@sinif
GO
/****** Object:  StoredProcedure [dbo].[tumogrenci]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[tumogrenci]
as
select * from ogrenci
GO
/****** Object:  StoredProcedure [dbo].[yenisinif]    Script Date: 17.04.2022 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[yenisinif]
@sinif nvarchar(10)
as
select * from ogrenci where sinif=@sinif order by ograd Asc
GO
USE [master]
GO
